body {
    font-family: Arial;
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0;
    background-color: gray;
}
a{
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-around;
    background-color: #242424;
    width: auto;
  
}

.logo {
    width: 50%;
    max-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
}

/* Resize images */
.logo img {
    width: 100%;
    height: auto;
    display: flex;
    margin: auto;
}

.logo a {
    text-align: center;
    color: #fff404;
    font-size: 3vw;
    font-family: 'Modern Warfare', sans-serif;
    text-decoration: none;
                                                
}
ul {
    display: flex;
    list-style: none;
    gap: 1vw;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}

li{
    color: #fff404;
    text-decoration: none;
    all: unset;
}
main {
    background-color: grey;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    justify-content: center;
}

main div {
    display: flex;
    flex-direction: column;
    padding: 2vh;
}

div h1 {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff404;
    font-size: 2vh;
    font-family: 'Modern Warfare', sans-serif;
   

}

td {
    padding: 5px;
}
td .prawy{ 
width: 30%;
}
    


td input {
    width: 100px;
    height: 15px;
    text-align: right;
    align-self: center;
}

td p {
    width: 100px;
    height: 15px;
    text-align: right;
    background-color: rgb(187, 255, 221);
    padding-left: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 2px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
}
tr{
    justify-content: center;
}


table {
    padding-top: 10px;
    margin-bottom: 20px;
    background-color: #4b4b4b;
}