body {
    font-family: Arial;
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0;
    background-color: #e6e6e6;

}

a{
    text-decoration: none;
    color: #0a0a0a;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

    
}

header {
    background-color: #fff404;  
    
}

.header {
    display: flex;
    flex-grow: unset;
    justify-content: space-between;
    background-color: #fff404;
    width: auto;
  max-width: 100%;
  align-items: center;
  padding: 1vw;
  font-size: small;
}

.nav {
    font-size: small;
}
#flaga {
    height: 2vh;
    padding: 0%;
    align-self: center;
    justify-self: center;
}
.menu-content {
    font-family: 'Oswald', sans-serif; 
    padding: 0 0 0 50px;
}
.language {
    
   padding-right: 3vw;
    border-bottom: 3px solid #969696;
  height: 20px;
    justify-content: right;
    align-items: center;
}
.language ul {
    list-style-type: none;
    padding: 0;
    justify-content: center;
}
.language a {
 
    text-decoration: none;
    justify-content: center;
}

header div {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    text-justify: auto;
    color: #161616;
}
.logo {
    width: 50%;
    max-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
}

/* Resize images */
.logo img {
    width: 100%;
    height: auto;
    display: flex;
    margin: auto;
}

.logo a {
    text-align: center;
    color: #000000;
    font-size: 3vw;
    font-family: 'Modern Warfare', sans-serif;
    text-decoration: none;
                                                
}
ul {
    display: flex;
    list-style: none;
    gap: 1vw;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    max-width: 40%;
}

li{
    text-align: center;
    justify-content: center;
  overflow: hidden;
    text-decoration: none;
    all: unset;
    font-size: 100%;
}
main {
    background-color: #ffffff;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    justify-content: center;
}

main div {
    display: flex;
    flex-direction: column;
    padding: 2vh;
}
main div div {
    display: flex;
    flex-direction: column;
    padding: 2vh;
}

div h1 {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
    font-size: 4vh;
    font-family: Arial, Helvetica, sans-serif;
   

}

td {
    padding: 5px;
}
td .prawy{ 
width: 30%;
}
    


td input {
    width: 10px;
    height: 15px;
    text-align: right;
    align-self: center;
}

td p {
    width: 100px;
    height: 15px;
    text-align: right;
    background-color: #fffc4ac7 ;
    padding-left: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 2px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
}
td textarea {
    width: 80%;
    height: 15px;
}
tr{
    justify-content: center;
    height: 5vh;
}


table {
    padding-top: 10px;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
    border-collapse: collapse;
}

.compute {
    all:unset;
    text-align: center;
    align-self: center;
    font-size: 2vh;
    font-weight: bold;
    border: 1px solid #fff404;
    background-color: #fff404;
    border-radius: 5px;
    width: auto;
    font-family: 'Modern Warfare', sans-serif;
    font-weight: 300;
    padding: 0.5vh;
    margin: 0.5vh;
}


button.collapse {
    background-color: transparent;
    border: none;
    color: grey;
    text-align: left;
    padding: 0;
    cursor: pointer;
    margin-top: 2vh;
    margin-left: 4vw;
}

thead {
    font-family: Arial;
    font-weight: bolder;
    font-size: large;
    min-height: 10vh;
}

#costSection {
    padding: 10px;
    background-color: #f9f9f9;
}

tfoot .guzik{
    background: rgb(255,244,4);
background: radial-gradient(circle, rgba(255,244,4,1) 35%, rgba(2,0,36,0) 100%);
}

.top {
    border-top: 3px solid #fff404;
}

.ss_number{
    width: 20px;
}
.treść{
    display: flex;
    
}
.treść h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size:x-large;
    justify-self: left;
}
.formularz {
    justify-content: right;
    border-left: 2px solid #fff404;
    width: 80vw;
    align-self: right;
    margin-left: 5vw;
}
.rezulta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    background-color: lightgray;
    border-radius: 5px;
    align-self: center;
}
.rezulta h1 {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size:x-large;
    justify-content: left;
    align-items: center;
}
.rezulta div {
    justify-content: left;
}

.rezulta div a {
    display: flex;
 
    font-size: x-large;
    font-weight: bold;
    justify-content: right;
}
.rezulta h2 {
    display: inline;
}
#ss_roi {
    color: #fff404;
}

.rezulta h3 {
    align-self: center;
}
