body {
    font-family: Arial;
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0;
    background-color: #e2e2e2;

}

a{
    text-decoration: none;
    color: #969696;
}

header {
    background-color: #242424;  
    
}

.header {
    display: flex;
    flex-grow: unset;
    justify-content: space-between;
    background-color: #242424;
    width: auto;
  max-width: 100%;
  align-items: center;
  padding: 1vw;
}

#flaga {
    height: 2vh;
    padding: 0%;
    align-self: center;
    justify-self: center;
}
.menu-content {
    font-family: 'Oswald', sans-serif; 
    padding: 0 0 0 50px;
}
.language {
    
   padding-right: 3vw;
    border-bottom: 3px solid #dadada;
  
    justify-content: right;
    align-items: center;
}
.language ul {
    list-style-type: none;
    padding: 0;
    justify-content: center;
}
.language a {
 
    text-decoration: none;
    justify-content: center;
}

header div {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    text-justify: auto;
    color: #fff404;
}
.logo {
    width: 50%;
    max-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
}

/* Resize images */
.logo img {
    width: 100%;
    height: auto;
    display: flex;
    margin: auto;
}

.logo a {
    text-align: center;
    color: #fff404;
    font-size: 3vw;
    font-family: 'Modern Warfare', sans-serif;
    text-decoration: none;
                                                
}
ul {
    display: flex;
    list-style: none;
    gap: 1vw;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    max-width: 40%;
}

li{
    text-align: center;
    justify-content: center;
  overflow: hidden;
    text-decoration: none;
    all: unset;
    font-size: 100%;
}
main {
    background-color: #e9e9e9;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    justify-content: center;
}

main div {
    display: flex;
    flex-direction: column;
    padding: 2vh;
}
main div div {
    display: flex;
    flex-direction: column;
    padding: 2vh;
}

div h1 {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
    
    font-size: 4vh;
    font-family: Arial, Helvetica, sans-serif;
   

}

td {
    padding: 5px;
}
td .prawy{ 
width: 30%;
}
    


td input {
    width: 100px;
    height: 15px;
    text-align: right;
    align-self: center;
}

td p {
    width: 100px;
    height: 15px;
    text-align: right;
    background-color: #fff204af ;
    padding-left: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 2px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
}
td textarea {
    width: 80%;
    height: 15px;
}
tr{
    justify-content: center;
    height: 5vh;
}


table {
    padding-top: 10px;
    margin-bottom: 20px;
    background-color: #d1d1c3;
    padding-left: 5px;
    padding-right: 5px;
    border-collapse: collapse;
    border-radius: 7px;
}

button {
    all:unset;
    text-align: center;
    align-self: center;
    font-size: 2vh;
    font-weight: bold;
    border: 1px solid #fff404;
    border-radius: 5px;
    width: auto;
    font-family: 'Modern Warfare', sans-serif;
    font-weight: 300;
    padding: 0.5vh;
    margin: 0.5vh;
}

thead {
    font-family: Arial;
    font-weight: bolder;
    font-size: large;
    min-height: 10vh;
}

tfoot .guzik{
    background: rgb(255,244,4);
background: radial-gradient(circle, rgba(255,244,4,1) 35%, rgba(2,0,36,0) 100%);
}

.top {
    border-top: 3px solid #fff404;
}
